/* You can add global styles to this file, and also import other style files */
body {
  background: #0f0f23;
}

header {
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  color: #00cc00;
}

article {
  h1 {
    color: #009900;
  }

  .aoc-task-group {
    border: 1px solid #00cc00;
    border-radius: 5px;
    box-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
    color: white;
    margin: 1rem 0;
    padding: 0 1rem;
  }
}
