/* You can add global styles to this file, and also import other style files */
body {
  background: #0f0f23;
}

header {
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  color: #00cc00;
  display: flex;
  justify-content: center;
}

article {
  h2 {
    color: #009900;
  }

  .aoc {
    &__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__tasks {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
    &__task-group {
      flex-grow: 1;
      border: 1px solid #00cc00;
      border-radius: 5px;
      box-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
      color: white;
      margin: 1rem 0;
      padding: 0 1rem;

      > h3 {
        display: flex;
        justify-content: space-between;

        .mat-icon {
          color: #ffff66;
        }
      }
    }

    &__back-link {
      border: 1px solid #00cc00;
      border-radius: 5px;
      box-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
      color: white;
      margin: 1rem 0;

      font-size: 1rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 4rem;
      gap: 0.5rem;


      &:hover, &:focus {
        background: #00cc00;
      }
    }
  }

}

.app {
  &__main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  &__section {
    height: 4rem;
    width: 4rem;
    border: 1px solid #00cc00;
    border-radius: 5px;
    box-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
    color: white;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    gap: .125rem;

    > div {
      color: #ffff66;
    }

    &--not-completed {
      background-color: #545454;
      box-shadow: 0 0 2px #545454, 0 0 5px #545454;
      border: 1px solid #545454;

      &:hover, &:focus {
        background: #545454 !important;
        cursor: not-allowed;
      }

      > div {
        color: black;
      }
    }

    &:hover, &:focus {
      background: #00cc00;
    }
  }
}
